{% extends '_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    {% block content %}
        <h1>Homepage</h1>
        <p>Hello {{ user.username }}</p>
        <img src="{% static 'images/tree.jpg' %}" alt="tree">
    {% endblock %}
</body>
</html>