{% extends '_base.html' %}
{% block title %}{{ book.title }}{% endblock title %}
{% block content %}
    <div class="book-detail">
        {% if book.image %}
        <img class="bookcover" src="{{ book.image.url}}" alt="{{ book.title }}">
        {% endif %}
        <h2>{{ book.title }}</h2>
        <p>Author: {{ book.author }}</p>
        <p>Price: {{ book.price }}</p>
        <div>
            <h3>Reviews</h3>
            <ul>
                {% for review in book.reviews.all %}
                    <li>{{ review.review }} ({{ review.author }})</li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock content %}