{% extends '_base.html' %}
{% block title %}Books{% endblock title %}
{% block content %}
    {% if not perms.books.special_status %}
        <a href="{% url 'orders' %}" class="btn btn-success">Purchase All Books</a>
    {% endif %}
    {% for book in books %}
        <div>
            <h2><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h2>
        </div>
    {% endfor %}
{% endblock content %}
